body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    box-sizing: border-box;
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px 0 0 1px;
}

.rows {
    flex: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rows .grid {
    flex: auto;
    height: 100%;
    border-style: solid;
    border-width: 0 1px 1px 0;
}

.container, .rows .grid {
    border-color: rgb(150, 150, 150);
}


.hover {
    background-color: yellow;
    background-clip: padding-box; /* The background extends to the inside edge of the border */
}

.footer {
    background-color: rgb(230, 230, 230);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 20px 0;
}

